body {
  font-family:fantasy;
  margin: 0 0;
  padding: 0 0;
}
.label {
  position: absolute;
  left: 25px;
}
.player {
  position: absolute;
  width: 1.5%;
  height: 4.5%;
  top: 0%;
  left: 0%;
  background-color: brown;
}
.water {
  background-color: cornflowerblue;
}
.surf {
  background-color: white;
}
.sand {
  background-color: antiquewhite;
}
.sandedge {
  background-color: darkkhaki;
}
.grass {
  background-color: limegreen;
}
.tree {
  background-color: green;
}
.wood {
  background-color: peru;
}
.stone {
  background-color: gray;
}
.brick {
  background-color: firebrick;
}
.dirt {
  background-color: saddlebrown;
}
.path {
  background-color: darkgoldenrod;
}